
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 100 100% 100%;
    --foreground: 120 5% 15%;

    --card: 0 0% 100%;
    --card-foreground: 120 5% 15%;

    --popover: 0 0% 100%;
    --popover-foreground: 120 5% 15%;

    --primary: 122 39% 49%;
    --primary-foreground: 120 5% 98%;

    --secondary: 85 46% 55%;
    --secondary-foreground: 120 5% 15%;

    --muted: 84 59% 95%;
    --muted-foreground: 120 5% 45%;

    --accent: 14 80% 70%;
    --accent-foreground: 120 5% 15%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 120 10% 90%;
    --input: 120 10% 90%;
    --ring: 122 39% 49%;

    --radius: 0.5rem;

    --sidebar-background: 84 59% 95%;
    --sidebar-foreground: 120 5% 30%;
    --sidebar-primary: 122 39% 49%;
    --sidebar-primary-foreground: 120 5% 98%;
    --sidebar-accent: 120 5% 90%;
    --sidebar-accent-foreground: 120 5% 30%;
    --sidebar-border: 120 10% 90%;
    --sidebar-ring: 122 39% 49%;
  }

  .dark {
    --background: 120 5% 10%;
    --foreground: 120 5% 98%;

    --card: 120 5% 10%;
    --card-foreground: 120 5% 98%;

    --popover: 120 5% 10%;
    --popover-foreground: 120 5% 98%;

    --primary: 122 39% 49%;
    --primary-foreground: 120 5% 98%;

    --secondary: 85 46% 55%;
    --secondary-foreground: 120 5% 98%;

    --muted: 120 5% 20%;
    --muted-foreground: 120 5% 75%;

    --accent: 14 80% 70%;
    --accent-foreground: 120 5% 10%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 120 5% 98%;

    --border: 120 5% 25%;
    --input: 120 5% 25%;
    --ring: 122 39% 49%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
